extends ../layout/base_monitoring 
block content         
        section.content-header
          h1
            | Dashboard
            small Monitoring Tangki
          ol.breadcrumb
            li
              a(href='#')
                i.fa.fa-dashboard
                |  Home
            li.active Dashboard
        // Main content
        section.content
          // Small boxes (Stat box)
          .row
            .col-lg-3.col-xs-6
              .info-box
                span.info-box-icon.bg-purple
                  i.fa.fa-money
                .info-box-content
                  span.info-box-text Cost
                  span.info-box-number
                    small Rp
                    |  #{count_transaksiSum.total}
                // /.info-box-content
              // /.info-box
            // /.col
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-green
                  i.fa.fa-list-alt
                .info-box-content
                  span.info-box-text Jumlah Transaksi
                  span.info-box-number #{count_transaksiData}
            .col-lg-3.col-xs-6
              .info-box
                span.info-box-icon.bg-yellow
                  i.fa.fa-sun-o
                .info-box-content
                  span.info-box-text Status Lampu
                  span.info-box-number #{data_lampu[0].status_lampu}

            .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title Data Pengisian Air
                // /.box-header
                .box-body
                  table#example1.table.table-bordered.table-striped
                    thead
                      tr
                        th ID
                        th Date
                        th Time
                        th Harga
                        th Berat
                    for row, index in data_pengisian 
                        tr
                          td #{index+1}
                          td #{row.date_pengisian}
                          td #{row.time}
                          td #{row.harga}
                          td #{row.berat}
                  a(href='/depot/Pengisian')
                    p Lihat selengkapnya

              .box
                .box-header
                  h3.box-title Data Monitoring Air
                // /.box-header
                .box-body
                  table#example1.table.table-bordered.table-striped
                    thead
                      tr
                        th ID
                        th Date
                        th Time
                        th Jenis Toren
                        th Ketinggian
                    for row2, index in data_toren 
                        tr
                          td #{index+1}
                          td #{row2.date}
                          td #{row2.time}
                          td #{row2.jenis_toren}
                          td #{row2.ketinggian}
                  a(href='/depot/tangki_air')
                    p Lihat selengkapnya                    

                                                                         