extends ../layout/base_monitoring 
block content         
        section.content-header
          h1
            | Data Pengisian Air
          ol.breadcrumb
            li
              a(href='http://localhost:1234/depot')
                i.fa.fa-dashboard
                |  Home
            li.active Data Pengisian
        // Main content
        section.content
          .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title Pengisian Air
                // /.box-header
                .box-body
                  table#example1.table.table-bordered.table-striped
                    thead
                      tr
                        th ID
                        th Date
                        th Time(WIB)
                        th Harga(Rp)
                        th Berat(Kg)
                        th Volume(liter)
                    for row in data1 
                        tr
                          td #{row.id_pengisian}
                          td #{row.date_pengisian}
                          td #{row.time}
                          td #{row.harga}
                          td #{row.berat}
                          td 19                    